/*
 RED: #851718;
 BLUE1: #00757E;
 BLUE2: #00343F;
 WHITE: #FFFFFF;
*/


.height-div {
	height: 300px;
}
.div1 {
	background-color: #FFFFFF;
}
.div2 {
	background-color: red;
}
.div3 {
	background-color: blue;
}