/*
 RED: #851718;
 BLUE1: #00757E;
 BLUE2: #00343F;
 WHITE: #FFFFFF;
*/


.height-div {
	height: 300px;
}
.div1 {
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
	top:0;
	left:0;
}
.hospital-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.family-img {
	position: absolute;
	top:0;
}
.div2 {
	background-color: red;
}
.div3 {
	background-color: blue;
}