.atWork {
	margin-bottom: 0vh !important;
	.nowInfo {
		border: 1px solid black; 
		display: inline-block;
		position: fixed;
		right: 0px;
		top: 0px;


	}
	.nurse {
		height: 60vh;
	}
    .female {
	  position: absolute;
	  right:0;
    }
    .text-bellow{
      width: 100%;
      text-align: center;
      font-size: 55px;
      padding-top: 100px;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
  }
};