@import '../variables';
.atWork {
	margin-bottom: 0vh !important;
	.nurse {
		height: 60vh;
	}
    .female {
	  position: absolute;
	  right:0;
    }
    .text-bellow{
      width: 100%;
      text-align: center;
      font-size: $text-size;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
  }
};