.birth {
	position: relative;
	top: 0;
	left: 0;
	.preggo {
		position: absolute;
		bottom: 0;
		left: 48%;
		height: 80%;
	};
	.fetus {
		position: absolute;
		left: 50%;
		top: 58%;
		height: 15%;
	}
	.newborn {
		position: absolute;
		left: 60%;
		top: 82%;
		height: 15%;

	}
};