@import '../variables';
.birth {
	position: relative;
	top: 0;
	left: 0;
	.preggo {
		position: absolute;
		top: 80px;
		left: 48%;
		height: 70vh;
	};
	.fetus {
		position: absolute;
		left: 50%;
		top: 43vh;
		height: 15vh;
	}
	.newborn {
		position: absolute;
		left: 60%;
		top: 43vh;
		height: 15vh;
	}
	.text-bellow{
		width: 80vw;
    text-align: center;
    font-size: $text-size;
    margin-right: auto;
    position: relative;
    margin-left: auto;
  }
};