.blood {
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
	img {
		display: block;	
		margin-left: auto;
		margin-right: auto;
		height: 60vh;
	};
  
  .blood_wrapper {
    width: 50%;
    float: left;
    padding-left: 25%;

	.blood_mynd {
	  position: absolute;
    left: 20vw;
	}

	.blood_overlay {
	  z-index: 100;
	  clip: rect(390px, 558px, 482px, 0px);
	}	
  }

  .text-bellow{
    width: 50%;
    float: right;
    position: relative;
    text-align: center;
    font-size: 55px;
  }
  
};