@import '../variables';
.hos {
	margin-bottom: 10vh !important;
	height: 100% !important;
	.sick {
		width: 20%;
		display: inline-block;
		min-height: 50px !important;
	};
	.infoText {
		p {
			width: 20%;
			display: inline-block;
			text-align: center;
			font-size: 20px;
		};
	};
	.headInfo {
		text-align: center;
		font-size: $text-size;
	}
}