.surgery {
	position: relative;
	top: 0px;
	left: 0px;
	.needle_wrapper {
		.needle {
			position: absolute;
			left: 50%;
			height: 20%;
		};
		.needle_overlay {
		  	position: absolute;
			left: 50%;
			height: 20%;	  
		}
	}
	.stretcher {
		position: absolute;
		bottom: 60px;
		right: 0px;
		height: 40%;
	};

  .theText {
    padding-top: 25px;
    text-align: center;
    font-size: 55px;
    width: 80vw;
  	margin-left: auto;
  	margin-right: auto;
  }
};