.surgery {
	position: relative;
	top: 0px;
	left: 0px;
	margin-bottom: 20vh;
	.needle_wrapper {
		.negative-margin {
			margin-top: -3%;
		}
		.needle {
			position: absolute;
			left: 50%;
			height: 20vh;
			margin-top:1%;
		};
		.needle_overlay {
		  	position: absolute;
			left: 50%;
			height: 20vh;
			margin-top:1%;
		}
	}
	.stretcher {
		position: absolute;
		bottom: 60px;
		right: 0px;
		height: 40%;
	};

  .theText {
    padding-top: 25px;
    text-align: center;
    font-size: 55px;
    width: 80vw;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: -3%;
  }
};