@import 'variables';
body {
	height: 100% !important;
	overflow-x: hidden;
}
.height {
	height: 100vh;
	/* border-bottom: 1px solid black; */
	margin-bottom: 40vh;
}
.introText {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 55px;
	padding-top: 40vh;
	margin-bottom: 40vh;
	width: 80vw;
}