.height {
	height: 100vh;
	//border-bottom: 1px solid black;
}
.introText {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 55px;
	height: 80vh !important;
	padding-top: 20vh;
	width: 80vw;
}