@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

$font-family: Montserrat, sans-serif;
$color-background: #fff;
$color-black: #222;
$color-orange: #F58C5C;
$color-orange-dark: #F36525;

$color-vine: #8a2326;
$color-cream: #d7d0be;
$color-purple: #371827;
$color-greenblue: #143942;
$color-strangegreen: #35747d;
$color-lightblue: #b0c7cd;

$text-size: 50px;