@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

$font-family: Montserrat, sans-serif;
$color-background: #fff;
$color-black: #222;
$color-orange: #F58C5C;
$color-orange-dark: #F36525;